.card {
  border: 1px solid #f4f3f3;
  border-radius: 7px;
  /*box-shadow: 5px 5px 5px #0000003f;*/
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 250px;
  height: 545px;
  display: inline-block;
  vertical-align: top; /* Ajustement de l'alignement vertical */
  background-color: #f4f3f3;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Pour permettre le retour à la ligne */
  justify-content: center; /* Centrer les cartes horizontalement */
}

.card .card-image {
  width: 100%; /* Utiliser toute la largeur disponible dans la carte */
  height: 250px; /* Hauteur fixe pour l'image */
  border-radius: 7px; /* Assurez-vous que le rayon de bordure est cohérent */
  object-fit: cover; /* Adapter l'image en conservant son ratio */
  object-position: center; /* Centrer l'image horizontalement et verticalement */
  margin-bottom: 10px;
}

.card .card-title {
  height: 40px;
  font-family: Arial, sans-serif;
  margin: 10px 0;
  color: #012542;
  -webkit-text-stroke: 0.5px black; /* Bordure noire de 1 pixel (pour les anciennes versions de WebKit) */
}

.card .card-description {
  font-family: Arial, sans-serif;
  color: #000;
  height: 110px; /* Hauteur maximale de la description */
  overflow: auto; /* Activer la barre de défilement si nécessaire */
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center; /* Assure l'alignement vertical */
  gap: 8px;
}

.buttons > button {
  margin: 0; /* Supprime les marges par défaut des boutons */
}

.ical-button {
  order: 1;
}

.google-maps-button {
  order: 2;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%; /* Largeur de la carte sur les petits écrans */
    max-width: 300px; /* Limite maximale pour les cartes sur les petits écrans */
  }
}
